/* Assignment #1 Style Sheet */

body {
  background-color: green;
  width: 1240px;
  text-align: center;
  font-size: 25px;
}

div.main-container {
  width: 1000px;
}

div.contents-container {
  position: relative;
  height: 450px;
}

div.header-container {
  background-color: white;
  border-radius: 25px;
  border-width: 2px;
  border-style: solid;
  margin: 25px 0px 25px 0px;
}

div.header-container p {
  color: red;
}

div.navigation-container {
  background-color: white;
  border-width: 2px;
  border-style: solid;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 28%;
  height: 100%;
}

div.navigation-container p {
  margin-top: 0px;
  position: relative;
  top: 45%;               
}

div.body-container {
  background-color: white;
  border-width: 2px;
  border-style: solid;
  position: absolute;
  top: 0px;
  left: 325px;
  width: 35%;
  height: 100%;
}

div.body-container p {
  margin-top: 0px;
  position: relative;
  top: 45%;
}

div.side-panel-container {
  background-color: white;
  border-width: 2px;
  border-style: solid;
  position: absolute;
  top: 0%;
  right: 0px;
  width: 28%;
  height: 50%;
}

div.side-panel-container p {
  margin-top: 0px;
  position: relative;
  top: 45%;
}

footer.footer-container {
  background-color: white;
  border-radius: 25px;
  border-width: 2px;
  border-style: solid;
  margin: 25px 0px 25px 0px;
}

footer.footer-container p {
  color: red;
}